KDE
PlasmaDiscoverUpdates
Trolltech.conf
Unknown Organization
akonadi*
baloofilerc
bluedevilglobalrc
dconf
email*
go
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
htop
kactivitymanagerd-statsrc
kactivitymanagerdrc
kconf_updaterc
kde.org
kdeconnect
kded5rc
kdedefaults
kdeglobals
kglobalshortcutsrc
konsolerc
konsolesshconfig
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
lazy-lock.json
libaccounts-glib
libreoffice
mozilla/firefox
nvim/plugin/packer_compiled.lua
plasma*
powermanagementprofilesrc
pulse
specialmailcollectionsrc
spectaclerc
xsettingsd
